/* The side navigation menu */
#mySidenav {
    font-family: 'Titillium Web', sans-serif;
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background: rgb(103,120,133);
    background: linear-gradient(0deg, rgba(103,120,133,1) 0%, rgba(191,211,225,1) 100%);
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    overflow: auto;
    position: absolute;
}

#mySidenav hr {
    height: 1px;
    border: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f000, #484848, #f0f0f000);
    background-image: -moz-linear-gradient(left, #f0f0f000, #484848, #f0f0f000);
    background-image: -ms-linear-gradient(left, #f0f0f000, #484848, #f0f0f000);
    background-image: -o-linear-gradient(left, #f0f0f000, #484848, #f0f0f000); }

#mySidenav audio {
    margin: 0 auto;
    display: table;
}

#mySidenav a {
    cursor: pointer;
}

#mySidenav span {
    cursor: default;
}

/* The navigation menu links */
#mySidenav span, #mySidenav a {
    text-align: center;
    text-decoration: none;
    padding: 3px;
    font-size: 20px;
    color: #232323;
    display: block;
    transition: 0.3s;
}

#mySidenav h3 {
    text-align: center;
    text-decoration: none;
    color: #232323;
    transition: 0.3s;
    font-size: 25px;
    margin-bottom: 5px;
    cursor: default;
}

/* When you mouse over the navigation links, change their color */
#mySidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#mySidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 31px;
    margin-left: 50px;
    text-decoration: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#creditslink {
    padding-bottom: 20px;
}